.text-platzi{
  color: #97c93e !important;
}

.btn-platzi{
  background-color: #97c93e;
  color : white;
}

.btn-platzi:hover{
  background-color: #92ce29;
}

#header img{
  width: 80px
}

#main .carousel-inner img{
  max-height: 70vh;
  object-fit: cover;
  filter: grayscale(30%);
}
#carrusel{
  position: relative;
}

#carrusel .overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  color : white;
}

#place-time {
  background-color: #343a40;
  color : white;
}

#footer{
    background:
    linear-gradient(90deg, #1c3643 0, #273b47 25%, #1e5372);
}
#footer a{
    color : white;
}
